extends base.pug

block scripts
    script(src="/static/script.js")
block style  
    style
      include ../static/style.css
block content    
    section#intro  
      div#a1
        h1 We will help you <br> achieve your goals!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A recusandae tenetur autem. Reiciendis id incidunt libero explicabo earum nobis blanditiis. Molestiae incidunt sapiente mollitia voluptates commodi obcaecati delectus vero voluptate.

      div#a2
        img(src="/static/pics/intro.jpg", alt="")
  
    section#mission  
      h1 Our Mission
      div#container
        div#b1
          img(src="/static/pics/mission1.jpg", alt="")
          h3 Heading Forward
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum sunt rerum saepe facilis perferendis debitis.

        div#b2
          img(src="/static/pics/mission2.jpg", alt="")
          h3 Staying Firm
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum sunt rerum saepe facilis perferendis debitis.


        div#b3
          img(src="/static/pics/mission3.jpg", alt="")
          h3 Doing Impossible
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum sunt rerum saepe facilis perferendis debitis.

    section#work  
      div#c1
        img(src="/static/pics/work.png", alt="")

      div#c2
        h1 Your teeth will be <br> brighter than moonligt!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A recusandae tenetur autem. Reiciendis id incidunt libero explicabo earum nobis blanditiis. Molestiae incidunt sapiente mollitia voluptates commodi obcaecati delectus vero voluptate.
        a(href="/") Learn more >

    h1#spn Brands we have worked with    
    section#sponsors
      
      img(src="/static/pics/brand (1).png", alt="")
      img(src="/static/pics/brand (3).png", alt="")
      img(src="/static/pics/brand (4).png", alt="")
      img(src="/static/pics/brand (5).png", alt="")
      img(src="/static/pics/brand (6).png", alt="")
      img(src="/static/pics/brand (7).png", alt="")

    section#section4  
      div#d1
        h1 You can do anything <br> We believe it!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A recusandae tenetur autem. Reiciendis id incidunt libero explicabo earum nobis blanditiis. Molestiae incidunt sapiente mollitia voluptates commodi obcaecati delectus vero voluptate.

      div#d2
        img(src="/static/pics/section4.jpg", alt="")  


